form {
  /* width:50%; */
  margin: 0 auto;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 10px;
}

label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 10px;
}
.id {
  /* width: 10%; */
  padding: 12px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.question {
  /* width: 80%; */
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.answer {
  /* width: 100%; */
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  justify-content: center;
}

input[type="radio"] {
  margin-right: 10px;
}

.button {
  background-color: #4caf50;
  color: white;
  padding: 14px 15px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
}

button:hover {
  background-color: #45a049;
}

.questionContainer {
  display: flex;
  justify-content: last left;
}
.answerContainer {
  /* display: flex; */
  justify-content: center;
}
