form {
  /* width:50%; */
  margin: 0 auto;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 10px;
}

label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 10px;
}
.id {
  /* width: 10%; */
  padding: 12px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.question {
  /* width: 80%; */
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.answer {
  /* width: 100%; */
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  justify-content: center;
}

input[type="radio"] {
  margin-right: 10px;
}

.button {
  background-color: #4caf50;
  color: white;
  padding: 14px 15px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
}

button:hover {
  background-color: #45a049;
}

.questionContainer {
  display: flex;
  justify-content: last left;
}
.answerContainer {
  /* display: flex; */
  justify-content: center;
}
.pagination {
  display: flex;
  justify-content: center;
  text-align: center;
  /* margin: 2px; */
  align-items: center;
}

.paginationButton {
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
}

.paginationButton:hover {
  background-color: lightblue;
}

.paginationButton:active {
  background-color: darkblue;
}

.paginationButton:disabled {
  background-color: gray;
  color: lightgray;
  cursor: not-allowed;
}
table {
  border-collapse: collapse;
  width: 100%;
}
 th {
  border: 1px solid gray;
  padding: 10px;
  text-align: left;
 }

 th:first-child {
  width: 10%;
  font-weight: bold;
}

th:nth-child(2) {
  width: 60%;
}

th:last-child {
  width: 20%;
  text-align: center;
}


td {
  border: 1px solid gray;
  padding: 10px;
  text-align: left;
}

td:first-child {
  width: 10%;
  font-weight: bold;
}

td:nth-child(2) {
  width: 60%;
}

td:last-child {
  width: 20%;
  text-align: center;
}

.delete-button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: darkred;
}

.delete-button:active {
  background-color: lightred;
}
.uploading{
  position: absolute;
    top: 30%;
    left: 40%;
    background-color: white;
}
.deleting{
  position: fixed;
    /* top: 30; */
    left: 50%;
    bottom: 40%;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f2f2f2;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-right: 1rem;
}

a {
  color: #333;
  text-decoration: none;
  font-size: 1.2rem;
}

a:hover {
  color: #fff;
  background-color: #333;
  padding: 0.5rem;
  border-radius: 4px;
}


.countdownTimeForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #f2f2f2; */
  padding: 1rem;
  border-radius: 4px;
}

.timeLabel {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.timeInput {
  margin-top: 0.5rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 4px;
  border: 1px solid #333;
}

.timeButton {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  border: none;
  font-size: 1.2rem;
}
h1 {
  text-align: center;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
  /* border-bottom: 1px solid black; */
  margin: 8px;
}